<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/21c030be4b.js" crossorigin="anonymous"></script>
    <title>ToDO</title>
</head>
<body>
    <header class="container">
        <nav class="nav fixed-top bg-light p-3 border-bottom border-body flex-row align-items-center">
            <a class="navbar-brand" href="#">TODO</a>
            <a href="#" class="nav-link bg-secondary bg-opacity-10 rounded p-1 text-center focus-ring border border-opacity-10 border-white ms-auto" width="50px" height="50px">
                <i class="fa-solid fa-plus fa-xl text-secondary mx-auto"></i>          
            </a>
        </nav>
    </header>
    <main class="p-5 mt-5">
        <section>
            <div class="form-check">
                <input class="form-check-input m-4" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Test TODO
                </label>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed molestiae saepe ea sequi blanditiis dignissimos quos rem accusamus similique magnam. Sunt vitae fugiat rerum voluptates hic perspiciatis, esse voluptas tempora?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi error voluptate aperiam, quia dolore minima nisi assumenda eum officiis cumque animi numquam quam aliquid quod itaque fugit obcaecati iusto a. Nobis eaque asperiores magni cum tempore fugit a harum alias eos eum earum, aliquam repellat dignissimos perferendis amet, tempora, animi maxime nemo dolor velit culpa? Ipsa, nam eos maxime autem officiis labore? Quos repellendus beatae at fugiat illum. Minima, impedit quibusdam nihil officiis dolore, debitis unde repudiandae cum accusantium repellat quis repellendus ex aut, consequuntur cumque excepturi qui tempore quas velit. Architecto dolorem quis excepturi fuga distinctio commodi aspernatur, corrupti sunt omnis corporis dolore eveniet quas amet suscipit dolores pariatur, ducimus repellendus eligendi fugit asperiores dignissimos doloribus esse sint? Mollitia voluptatum, aut maxime minus, alias id animi quas delectus quidem facilis adipisci. Sunt.
        </section>
    </main>
</body>
</html>