{% extends "auth-base.html" %}

{% block titile %}
   Login - Productivity Manager
{% endblock %}

{% block auth %}
    <form method="post" action="/login">
        {{ form.hidden_tag() }}
        <h4 class="mb-2">Login</h4>
       <div class="mb-2">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control p-1") }}
        </div>
        <div class="mb-2">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control p-1") }}        
        </div>
        <div class="mb-2">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        </div>
            {{ form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}