{% extends "auth-base.html" %}

{% block titile %}
    Register - Productivity Manager
{% endblock %}

{% block auth %}
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <h4 class="mb-2">Register</h4>
       <div class="mb-2">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control p-1") }}
        </div>
        <div class="mb-2">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control p-1") }}        
        </div>
        <div class="mb-2">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control p-1") }}
        </div>
        <div class="mb-2">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
            {{ form.submit(class="btn btn-primary")}}
    </form>
{% endblock %}